#Ignore everything
*

#Release Projects
!/NetWeaverServer
!/NetWeaverServer/**
!/NetWeaverClient
!/NetWeaverClient/**
!/NetWeaverGUI
!/NetWeaverGUI/**

#Ignore Runtime Build
/*/bin/**/*
/*/obj/**/*

#Ignore IDE generated data
/*/.idea/**/*

#Release Project specific data
!NetWeaver.sln
!*.csproj
!.gitignore
