#Ignore Everything
*

#Release Projects
!/NetWeaverServer
!/NetWeaverServer/**/*
!/MCONMQTT
!/MCONMQTT/**/*

#Release Specifics
!NetWeaver.sln
!.gitignore

#Ignore Builds
/*/bin
/*/obj

#Ignore Project and User relevant data (already in *)
/.idea
*.sln.*
